*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    user-select: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}
#my-image{
    width: 150px;
    margin: 0 auto;
}
#my-input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
    
}

#input-btn {
    color: black;
    background-color:aquamarine;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;
    
}
#input-btn:hover{
    background-color: greenyellow;
    cursor: pointer;
}
ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
ul li{
    font-size: 20px;
    background-color:burlywood;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}
ul li:hover{
    background-color: aqua;
    cursor: pointer;
}